
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<div>
  <table>
    <tr>
      <th>Id</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>

    </tr>
    <tr>
      <td th:text="${user.getId()}">Id</td>
      <td th:text="${user.getFirstName()}">FirstName</td>
      <td th:text="${user.getLastName()}">LastName</td>
      <td th:text="${user.getEmail()}">Email</td>
      <td>
        <form th:action="@{/edit/{id}(id=${user.id})}" th:object="${user}">
          <button type="submit">Edit</button>
        </form>
      </td>
      <td>
        <form th:action="@{/delete(id=${user.id})}" th:object="${user}">
          <input type="hidden" name="id" th:value="${user.id}">
          <button type="submit">Delete</button>
        </form>
      </td>

    </tr>
  </table>
  <br/>
  <form th:action="@{/users/all}">
    <button type="submit">back</button>
  </form>
</div>
</body>
</html>